body {
    color: white;
    margin: 0px;
    padding: 0px;
    background-color: rgb(71, 31, 13);
}
.one {
    background-image: url('./Assets/africa.jpg');
    background-size: 600px;height: 600px;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.form-layout {
    margin-bottom: 30px;
    padding-bottom: 5px;
}
#About {
    color: black;
    margin-left: 300px;
}
.onetwo {
    display: flex;
    
}
.ghaniangirl img {
    border-radius: 100px;
}

.card-header {
    background-color: white;
    
}
footer {
    height: 50px;
    background-color:rgb(71, 31, 13);
    color: white;
    position: relative;
    margin-top:70px;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.header {
    display: flex;
    /* position: relative;
    float: right; */
}
.africa {
    position: relative;
    float: right;
    top:-50px;
}
.form-layout{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
    font-family: 'Quattrocento', serif;
  }