body {
    color: white;
}
#About {
    color: black;
    margin-left: 250px;
}
.onetwo {
    display: flex;
    
}
.ghaniangirl img {
    border-radius: 100px;
}

.card-header {
    background-color: rgb(233, 218, 211);
    
}
footer {
    height: 20px;
    background-color: rgb(247, 134, 81);
    bottom: -70px;
    text-align: center;
    padding: 10px;
}