body {
    color: white;
}
.one {
    background-image: url('./Assets/africa.jpg');
    background-size: 600px;height: 600px;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.form-layout {
    margin-bottom: 50px;
    padding-bottom: 5px;
}
#About {
    color: black;
    margin-left: 250px;
}
.onetwo {
    display: flex;
    
}
.ghaniangirl img {
    border-radius: 100px;
}

.card-header {
    background-color: rgb(241, 238, 234);
    
}
footer {
    height: 50px;
    background-color:rgb(71, 31, 13);
    color: white;
    bottom: -70px;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.header {
    display: flex;
    /* position: relative;
    float: right; */
}
.africa {
    position: relative;
    float: right;
}